# UWML Workbook - Week 1


## Using GraphLab Create

In [1]:
import graphlab

In [2]:
sf = graphlab.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to cxplanet@hotmail.com and will expire on February 04, 2017. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-835 - Server binary: /Users/jayl/Documents/dev/big-data/uw-ml/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1454784612.log
[INFO] GraphLab Server Version: 1.8.1

PROGRESS: Finished parsing file /Users/jayl/Documents/dev/big-data/uw-ml/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.017956 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/jayl/Documents/dev/big-data/uw-ml/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.008451 secs.

### Display SFrame data

In [11]:
sf #sf by itself displays first few lines of dataset - sf.head() and sf.tail() can be used too

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

### Full visualization in a new web page

In [12]:
sf.show() #show gives a visualization of the data in a new window

Canvas is accessible via web browser at the URL: http://localhost:52837/index.html
Opening Canvas in default web browser.

In [13]:
graphlab.canvas.set_target('ipynb') #if you want the visualization inline

### Visualize a column inline

In [14]:
sf['age'].show('Categorical') #just select the age column, and use the categorical view

In [16]:
sf['age'].show('Numeric')

### Inspect a column of data

In [23]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [20]:
age = sf['age']

In [21]:
age.mean()

23.142857142857146

In [22]:
age.max()

25

### Modify values of a column

In [29]:
sf['age'] * sf['age'] + 2

dtype: int
Rows: 7
[578, 531, 486, 531, 531, 486, 627]

### Create a new column of data in a SFrame
Often you will taking columns of data and transform them. This is referred to as feature engineering. As an example, here we create a new column that contains first name and last name

In [24]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [26]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

### Create a functon to transform data
Lets create a python function that can be used to normalize the United States entries in the Country column. By using the apply() method, we will transform the data.

In [31]:
def transform_USA(country):
    if country == 'USA':
        return 'United States'
    else: return country

In [33]:
sf['Country'] = sf['Country'].apply(transform_USA)

In [34]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]